* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50vw;
    height: 50vw;
    margin-top: 5vh;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: darkgray;
    width: 100%;
    height: 100%;
}

.scores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    width: 50vw;
    height: 20vw;
    margin-top: 5vh;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#player-one {
    background-color: red;
}

#player-two {
    background-color: blue;
}
  
@media screen and (min-width: 100vh) {
    .tic-tac-toe {
        width: 50vh;
        height: 50vh;
    }
    .scores {
        width: 50vh;
        height: 20vh;
    }
}